header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}

header.black {
    background-color: #111111;
    background-color: linear-gradient(#000, #111111);
}

.header-logo {
    height: 67px
}

.header-logo img {
    height: 100%;
}

.header-user {
    height: 35px;
    display: flex;
}

.header-user img {
    height: 100%;
    border-radius: 3px
}

.user-icon {
    padding-left: 40px;
}

.search-icon {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.header-search-body {
    display: flex;
    align-items: center;
    background-color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
}

#movieSearch {
    background-color: #000;
    padding: 7px 14px 7px 7px;
    width: 185px;
    height: 100%;
    outline: none;
    color: #ffffff;
    border: 0;
}
